@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-6">Welcome</h1>
</div>

<div class="container p-2">
    <div class="row ml-1 mr-1">
        <div class="col-md-4 bg-info rounded p-2 mb-2">
            <partial name="LogPartial"></partial>
        </div>
        <div class="col-md-8 rounded p-2">
            <partial name="RegPartial"></partial>
        </div>
    </div>
</div>